@media (max-width: 600px) {
	.hero-frame {
        width: 80%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: none;
		top: 60%;
    }
	
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .language-switcher {
        flex-direction: column;
        gap: 10px;
    }
	
    .hero-content h1 {
        font-size: 1.4em;
    }

    .hero-content p {
        font-size: 0.7em;
    }
	
	.contact-info {
		flex-direction: column;
        align-items: center;
	}

    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .project-source {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        width: 90%;
    }

    .about-image img {
        width: 80%;
    }

    .about-text {
        width: 100%;
        padding: 20px;
    }

    .skills-header {
        width: 90%;
    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding-left: 5%;
        padding-right: 5%;
    }

    
}