/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	height:100%;
}

.image-logo {
	text-align: center;
}

.image-logo img {
	text-align: center;
	max-width:240px;
	max-height:240px;
	width: auto;
	height: auto;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

main {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-description,
.project-images,
.project-results {
    margin-bottom: 40px;
}

.project-description h2,
.project-images h2,
.project-results h2 {
    font-size: 2em;
    margin-bottom: 20px;
	text-align: center;
	justify-content: center;
    align-items: center;
}

.project-description p,
.project-results li {
    font-size: 1.2em;
    line-height: 1.6;
	
}

.credits {
	font-size: 1.2em;
    line-height: 1.6;
	font-weight: bold;
}

.project-images .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    border-radius: 8px;
}

.image-item p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

.project-source {
    text-align: center;
    margin-bottom: 0px;
	padding-bottom: 0px;
	display: inline-flex;
	display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;
}

.project-source p {
    font-size: 1.2em;
    /*display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;*/
}

.project-source a {
    margin-left: 10px;
    display: inline-flex;
}

.project-source img {
	display: block;
	max-width:24px;
	max-height:24px;
	width: auto;
	height: auto;
}


