/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	height:100%;
}

.hero-section {
    background: url('../../assets/img/sesja2097.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
	background-size: 100% 100%; 
	width: 100%;
    height: 0;
	padding-bottom: 71.42%;
	display: flex;
    justify-content: flex-end;
    align-items: center;
	position: relative;
}

.hero-frame {
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Half-transparent frame */
    padding: 20px;
    width: 40%;
    border-radius: 8px 0 0 8px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}


.hero-content h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero-content p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

.portfolio-section {
    padding: 20px 20px;
    background-color: #f4f4f4;
}

.portfolio-section h2 {
    text-align: center;
    
	margin: 0;
    
}

.portfolio-header {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto 20px;
    width: calc(100% - 40px); /* Same width as portfolio-grid with some padding */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px;
    margin: 0 auto; /* Centering the grid */
}

.sorting-controls {
    text-align: center;
    margin-bottom: 20px;
}

.sorting-controls span {
    margin-right: 10px;
    font-weight: bold;
}

.sorting-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
}

.sorting-controls button.active {
    background-color: #666;
    color: #fff;
}

.portfolio-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.portfolio-item img {
    max-width:100%;
	max-height:100%;
}

.portfolio-item h3 {
    margin: 0 0 10px;
}

.portfolio-item p {
    font-size: 0.9em;
    color: #666;
}

.portfolio-item a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.contact-section {
    padding: 0px 0px;
    background-color: #fff;
}

.contact-section h2 {
    text-align: center;
    
}

.contact-section p {
	font-size: 0.9em;
    color: #666;
	display: inline-block;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Equal gap between items */
    font-size: 1em;
	padding: 20px;
}

.contact-info a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.contact-info img {
	display: block;
	max-width:24px;
	max-height:24px;
	width: auto;
	height: auto;
}
